<center><h1>MAPS | Geographic Information System</h1></center>
<div id="map" class="map" style="width: 80%; height: 400px; margin: 0 auto;"></div>

    <input type="hidden" id="idmarker" name="idmarker" value="">

    <div id="popupinfo" class="ol-popup">
        <b id="popupinfo-title"></b>
        <div id="popupinfo-content"></div>
        <div id="popupinfo-delete">
            <input type="hidden" id="idmarker" name="idmarker" value="">
            <button id="hapusbutton" type="button">Hapus</button><button id="hitungcogbutton" type="button">Hitung COG</button><br>
        </div>
        
    </div>

    <div id="popup" class="ol-popup">
        <b id="popup-title">Input Center of Gravity</b><a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
        <div id="popup-input">
            Nama : <input type="text" id="name" name="name" required><br>
            Volume : <input type="text" id="volume" name="volume" required><br>
            <input type="hidden" id="long" name="long" value="">
            <input type="hidden" id="lat" name="lat" value="">
            <button id="insertmarkerbutton" type="button">Input</button><br>
        </div>
    </div>