
<nav class="nav__container">
    <div>
        <a href="#" class="nav__link nav__logo">
            <img src="/assets/img/logo_nugis.png" alt="logo_nugis" style="width: 65px; height: 65px;">
            <span class="nav__logo-name">Nugis Orange</span>
        </a>

        <div class="nav__list">
            <div class="nav__items">
                <h3 class="nav__subtitle">Others</h3>

                <a href="#home" class="nav__link active">
                    <i class='bx bx-home nav__icon' ></i>
                    <span class="nav__name">Home</span>
                </a>
                
                <!-- <div class="nav__dropdown">
                    <a href="#" class="nav__link">
                        <i class='bx bx-user nav__icon' ></i>
                        <span class="nav__name">Profile</span>
                        <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a href="#profile/passwords" class="nav__dropdown-item">Passwords</a>
                            <a href="#profile/mail" class="nav__dropdown-item">Mail</a>
                            <a href="#profile/accounts" class="nav__dropdown-item">Accounts</a>
                        </div>
                    </div>
                </div> -->

           <a href="#profile" class="nav__link">
                    <i class='bx bx-user nav__icon' ></i>
                    <span class="nav__name">Profile</span>
                </a>

                <div class="nav__dropdown">
                    <a href="#" class="nav__link">
                        <i class='bx bx-book bx-atlas nav__icon' ></i>
                        <span class="nav__name">Chapter</span>
                        <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a href="#chapter/chap01" class="nav__dropdown-item">Chapter01</a>
                            <a href="#chapter/chap02" class="nav__dropdown-item">Chapter02</a>
                            <a href="#chapter/chap03" class="nav__dropdown-item">Chapter03</a>
                            <a href="#chapter/chap04" class="nav__dropdown-item">Chapter04</a>
                            <a href="#chapter/chap05" class="nav__dropdown-item">Chapter05 | Swagger</a>
                            <a href="#chapter/chap06" class="nav__dropdown-item">Chapter06</a>
                            <a href="#chapter/chap07" class="nav__dropdown-item">Chapter07</a>
                        </div>
                    </div>
                </div>

                <!-- <a href="#messages" class="nav__link">
                    <i class='bx bx-message-rounded nav__icon' ></i>
                    <span class="nav__name">Messages</span>
                </a> -->
                
                <a href="#blog" class="nav__link">
                    <i class='bx bx-message-rounded nav__icon' ></i>
                    <span class="nav__name">Blog</span>
                </a>
            </div>

            <div class="nav__dropdown">
                <a href="#" class="nav__link">
                    <i class='bx bx-papper nav__icon' ></i>
                    <span class="nav__name">Geo Query</span>
                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                </a>

                <div class="nav__dropdown-collapse">
                    <div class="nav__dropdown-content">
                        <a href="#geo_query/GeoIntersect" class="nav__dropdown-item">Geo Intersect</a>
                        <a href="#geo_query/GeoGeometry" class="nav__dropdown-item">Geo Geometry</a>
                        <a href="#geo_query/GeoNear" class="nav__dropdown-item">Geo Near</a>
                        <a href="#geo_query/GeoNearSphere" class="nav__dropdown-item">Geo Near Sphere</a>
                        <a href="#geo_query/GeoWithin" class="nav__dropdown-item">Geo Within</a>
                        <a href="#geo_query/GeoMaxDistance" class="nav__dropdown-item">Geo Max Distance</a>
                        <a href="#geo_query/GeoMinDistance" class="nav__dropdown-item">Geo Min Distance</a>
                    </div>
                </div>
            </div>

            <div class="nav__items">
                <h3 class="nav__subtitle">Menu</h3>

                <div class="nav__dropdown">
                    <a href="#" class="nav__link">
                        <i class='bx bx-book nav__icon' ></i>
                        <span class="nav__name">CRUD</span>
                        <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a href="#crud/insert" class="nav__dropdown-item">Insert</a>
                            <a href="#crud/get" class="nav__dropdown-item">Get</a>
                            <a href="#crud/update" class="nav__dropdown-item">Update</a>
                            <a href="#crud/delete" class="nav__dropdown-item">Delete</a>
                        </div>
                    </div>

                </div>

                <a href="#peta/maps" class="nav__link">
                    <i class='bx bx-map nav__icon' ></i>
                    <span class="nav__name">Maps</span>
                </a>

            </div>
        </div>
    </div>

    <a href="#logout" class="nav__link nav__logout">
        <i class='bx bx-log-out nav__icon' ></i>
        <span class="nav__name">Log Out</span>
    </a>
</nav>
